$screen-xs-max: 600px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-lg-max: 1440px;
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

$font-family-montessarat: "Montserrat", sans-serif;

$font-weight-thin: 100;
$font-weight-exlight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-exbold: 800;
$font-weight-black: 900;

$color-black: #333333;
$color-blue: #003688;
$color-grey: #f6f6f7;
$color-blue-light: #043ea3;
$color-blue-lighter: rgba(12, 63, 151, 0.733);