#infoDetails {
  padding-top: 80px;
  padding-bottom: 0;
  background: $color-grey;

  .head-holder {
    .cl {
      display: block;
      width: 60px;
      height: 4px;
      margin-bottom: 50px;
      background: #00338d;
    }
  }
}