#admin {
    padding-top: 80px;
    padding-bottom: 0;
    background: $color-grey;
    .content-head-holder {
        .content-head {
            font-weight: $font-weight-exbold;
            font-size: 3.5em;
            text-transform: uppercase;
        }
        .cl {
            display: block;
            width: 80px;
            height: 4px;
            margin-bottom: 50px;
            background: #00338d;
        }
    }
}