#campus {
  padding-top: 0;
  background: #f6f6f7;
  .campus-holder {
    padding-top: 60px;
    padding-right: 40px;
    .head-holder {
      padding-bottom: 30px;
    }
    .m-head {
      font-weight: $font-weight-exbold;
      font-size: 2em;
      letter-spacing: 0.1em;
      color: $color-black;
    }
    .p-sub {
      color: $color-black;
      font-weight: $font-weight-regular;
    }
    .fac-holder {
      .s-head {
        font-weight: $font-weight-bold;
        color: $color-black;
        font-size: 1.1em;
        letter-spacing: 0.1em;
      }
      .p-sub {
        font-size: 0.9em;
        line-height: 25px;
      }
    }
  }
  .f-holder {
    background: $color-blue;
    color: #fff;
    .f-sub {
      h1 {
        font-weight: $font-weight-exbold;
        font-size: 4.5em;
      }
      h6 {
        font-weight: $font-weight-light;
        font-size: 0.8em;
        letter-spacing: 0.05em;
      }
      padding-top: 120px;
    }
  }
}
