#campus {
  padding-top: 0;
  padding-bottom: 0;
  background: $color-grey;
  .campus-holder {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 40px;
    .head-holder {
      padding-bottom: 30px;
    }
    .p-sub {
      color: $color-black;
      font-weight: $font-weight-regular;
    }
  }
  .f-holder {
    background: $color-blue;
    color: #fff;
    .f-sub {
      h1 {
        font-weight: $font-weight-exbold;
        font-size: 4.5em;
      }
      h6 {
        font-weight: $font-weight-light;
        font-size: 0.8em;
        letter-spacing: 0.05em;
      }
    }
    .f-sub1 {
      padding-top: 120px;
    }
    .f-sub2 {
      padding-top: 120px;
    }
    .f-sub3 {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}
