#course_activities {
	.head {
		.m-head {
			padding-bottom: 20px;
		}
	}

	.activity-holder {
		padding-top: 30px;

		.activities {
			.m-head {
				font-size: 1em;
				padding-top: 15px;
				padding-bottom: 15px;
				margin-bottom: 0;
			}
		}
	}
}