#course-Overview {
    .head-holder {
        li {
            a {
                color: #000;
                text-transform: uppercase;
                text-align: center;
                font-size: .8em;
                font-weight: 700;
                padding-bottom: 17px;
            }
            & :hover, .active {
                border-bottom: 2px solid #7aa52b;
            }
        }
    }
}