#course-overview {
	padding-top: 60px;

	.head-holder {
		padding-bottom: 50px;

		.m-head {
			letter-spacing: 0;
		}
	}

	.content-holder {
		padding-bottom: 50px;

		.m-head {
			font-size: 1em;
			letter-spacing: 0;
		}

		.p-sub {
			letter-spacing: 0;
			font-size: 0.9em;
			font-weight: 400;
			opacity: 0.8;
		}

		li {
			font-size: 0.8em;
			font-weight: 400;
			opacity: 0.8;
		}
	}

	.p-holder {
		.p-sub {
			letter-spacing: 0;
			font-size: 1em;
			font-weight: 400;
			opacity: 0.8;
		}
	}

	.det-holder {
		padding-top: 40px;

		.m-head {
			font-size: 1em;
			letter-spacing: 0;
		}
	}
}