#footer {
  padding-bottom: 10px;
  background: $color-blue;

  .head {
    h2 {
      color: #fff;
      font-size: 1.6em;
      letter-spacing: 0.1em;
      font-weight: bold;
    }
  }

  .link-holder {
    padding-top: 40px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1em;
    }

    .main-btn {
      margin-top: 20px;
      background: transparent;
      color: #fff;
      border: 2px solid #fff;
      width: 100%;
    }

    & :hover {
      border-color: #809fb7;
      color: #809fb7;
    }

    .branch-holder {
      .content-main {
        padding-bottom: 8px;
      }

      & :hover {
        color: #809fb7;
      }

      span {
        padding-left: 8px;
        font-size: 13px;
      }

      .last {
        padding-bottom: 30px;
      }
    }
  }

  .qk-links {
    padding-top: 140px;

    a {
      font-size: 0.8em;
      font-weight: lighter;
      letter-spacing: 0.05em;
      color: #fff;
      text-decoration: none;
      padding-right: 10px;
    }

    .link {
      padding-left: 10px;
    }

    padding-bottom: 20px;
  }

  .social {
    padding-bottom: 20px;

    .nav-link {
      padding-left: 0;
      padding-right: 40px;
      font-size: 1.5em;
      color: #fff;
    }
  }

  .copy-text {
    padding-top: 60px;

    h6 {
      font-size: 0.9em;
      color: #fff;
      font-weight: lighter;
      opacity: 0.7;
    }
  }
}