#campus {
  padding-top: 0;
  padding-bottom: 0;
  background: $color-grey;

  .campus-holder {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 40px;

    .head-holder {
      padding-bottom: 30px;
    }

    .p-sub {
      color: $color-black;
      font-weight: $font-weight-regular;
    }
  }

  .f-holder {
    background: $color-blue;
    color: #fff;

    .f-sub {
      h1 {
        font-weight: $font-weight-exbold;
        font-size: 4.5em;
      }

      h6 {
        font-weight: $font-weight-light;
        font-size: 0.8em;
        letter-spacing: 0.05em;
      }
    }

    .f-sub1 {
      padding-top: 120px;
    }

    .f-sub2 {
      padding-top: 120px;
    }

    .f-sub3 {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
}

#studies {
  .deg-holder {
    padding-bottom: 30px;

    .cl {
      display: block;
      width: 60px;
      height: 4px;
      margin-bottom: 12px;
      background: red;
    }

    .s-head {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: $color-black;
        font-size: 0.7em;
      }
    }
  }
}

#stories {
  .m-head {
    padding-bottom: 50px;
  }

  .img-holder {
    img {
      transition: 1s ease;
    }

    overflow: hidden;
    background-image: linear-gradient(0deg,
    rgba(0, 38, 255, 0.3),
    rgba(0, 38, 255, 0.3));
    height: 100%;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      transition: 0.5s ease;
      background-image: linear-gradient(0deg,
        rgba(25, 25, 27, 0.733),
        rgba(31, 30, 30, 0.719));
    }

    .content {
      position: absolute;
      width: 200px;
      margin-left: -100px;
      left: 50%;
      bottom: 10%;
      color: #fff;
      opacity: 1;
      transition: 1s ease;

      h6 {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        font-size: 1em;
      }
    }

    .content_e {
      opacity: 0;
      position: absolute;
      width: 300px;
      margin-left: -150px;
      left: 50%;
      bottom: 50%;
      color: #fff;
      transition: 1s ease;

      p {
        font-style: italic;
        font-weight: lighter;
        font-size: 1em;
        letter-spacing: 0.05em;
      }

      h6 {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        font-size: 0.8em;
      }
    }

    &:hover {
      img {
        transform: scale(1.2);
        transition: 1s ease;
      }

      .overlay {
        opacity: 1;
        transition: 1s ease;
      }

      .content_e {
        opacity: 1;
      }

      .content {
        opacity: 0;
        transition: 1s ease;
      }
    }
  }
}

#innovation {
  .s-head {
    font-weight: $font-weight-semibold;
    letter-spacing: 0em;
    font-size: 1em;
    text-transform: uppercase;
  }

  .p-sub {
    font-size: 0.9em;
  }
}

#news-and-events {
  background: $color-grey;

  .main-btn {
    color: $color-black;

    &:hover {
      color: #fff;
    }
  }

  .item {
    position: relative;

    .img-holder {
      background: #000;

      img {
        opacity: 0.5;
      }
    }

    .news_holder {
      position: absolute;
      top: 0;
      left: 0;
      padding: 60px;

      .n-title {
        font-weight: $font-weight-light;
        letter-spacing: 0.1em;
        font-style: italic;
      }

      .n-head {
        .link {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: 0.6em;
        }
      }

      .n-sub {
        font-weight: $font-weight-light;
        font-size: 0.9em;
      }

      @media screen and (max-width: $screen-xs-max) {
        top: 20%;
        padding: 0px 60px;

        .n-title {
          font-size: 0.6em;
        }

        .n-head {
          line-height: 0.4em;

          .link {
            font-size: 0.4em;

          }
        }

        .n-sub {
          display: none;
        }

        .n-date {
          font-size: 0.4em;
        }
      }
    }
  }

  .event-holder {
    background: #fff;
    padding: 30px;

    .e-title {
      font-weight: $font-weight-light;
      letter-spacing: 0.1em;
      font-style: italic;
      font-size: 0.7em;
    }

    .e-date {
      font-weight: $font-weight-bold;
    }

    .e-name {
      padding-top: 15px;
      font-size: 0.9em;
      font-weight: $font-weight-semibold;
    }

    .e-description {
      padding-top: 15px;
      font-size: 0.9em;
    }

    .e-place {
      font-size: 0.8em;
    }

    .det-btn {
      border-color: $color-blue-light;
      background: $color-blue-light;
      width: 90%;
      margin-bottom: 10px;
      color: #fff;
      padding: 10px 10px;
      font-weight: $font-weight-semibold;

      &:hover {
        border-color: $color-blue;
        background: $color-blue;
      }
    }

    .reg-btn {
      color: $color-black;
      width: 90%;
      padding: 10px 10px;
      font-weight: $font-weight-semibold;

      &:hover {
        border-color: $color-black;
        background: $color-black;
        color: #fff;
      }
    }
  }
}

#gallery {
  .main-btn {
    margin-top: 40px;
    padding: 20px 40px;
    color: $color-black;

    &:hover {
      color: #fff;
    }
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 2em;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    display: block;
    opacity: 0;
    transition: 1s ease;
  }

  .grid-1 {
    padding: 0px 15px;

    .img-holder {
      background: #000;
      overflow: hidden;
      height: 300px;

      img {
        object-fit: cover;
        height: 100%;
        transition: 1s ease;
      }

      &:hover {
        img {
          opacity: 0.8;
          transform: scale(1.5);
          transition: 1s ease;
        }

        .content {
          opacity: 1;
          transition: 1s ease;
        }
      }
    }

    .col-md-3 {
      padding: 0;
    }
  }

  .grid-2 {
    padding: 0px 15px;

    .img-holder {
      background: #000;
      overflow: hidden;
      height: 300px;
      overflow: hidden;
      transition: 1s ease;

      img {
        max-width: 100%;
        object-fit: cover;
        transition: 1s ease;
      }

      &:hover {
        img {
          opacity: 0.8;
          transform: scale(1.5);
          transition: 1s ease;
        }

        .content {
          opacity: 1;
          transition: 1s ease;
        }
      }
    }

    .col-md-6 {
      padding: 0;
    }
  }
}

#requests {
  .head {
    padding-bottom: 30px;
  }

  .s-head {
    font-size: 0.9em;
  }

  .p-sub {
    padding-top: 15px;
  }

  .link {
    font-weight: bolder;
  }

  .main-btn {
    background: $color-blue;
    color: #fff;
    transition: 0.5s ease;
    border-color: $color-blue;
    font-size: 0.7em;
    padding: 20px 30px;

    &:hover {
      border-color: #333333;
      background: #fff;
      color: #333333;
    }
  }
}

#organisations {
  .m-head {
    font-size: 2em;
    word-wrap: break-word;
  }

  @media screen and (max-width: $screen-xs-max) {
    .m-head {
      font-size: 1.5em;
    }
  }
}