#innovation {
  padding-top: 80px;
  padding-bottom: 0;
  background: $color-grey;
  .head-holder {
    padding-bottom: 30px;
    .cl {
      display: block;
      width: 60px;
      height: 4px;
      margin-bottom: 50px;
      background: #00338d;
    }
    .head-h {
      font-weight: $font-weight-exbold;
      font-size: 3.5em;
      text-transform: uppercase;
    }
    .head-h2 {
      font-weight: 800;
      font-size: 2em;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    .head-p {
      color: $color-black;
      font-weight: $font-weight-regular;
      font-size: 1.1em;
    }
    .head-p2 {
      color: $color-black;
      font-weight: $font-weight-regular;
    }
  }
  .sub-holder {
    padding-bottom: 40px;
    .sub-mid {
      padding-bottom: 40px;
      img {

      }
    }
    .sub-mid1 {
      p {  

      }
      .sub-mid-last {
        
      }
    }
  }
  .bot-mid {
    .bot-mid-item {
      padding-bottom: 60px;
      img {
        padding-bottom: 20px;
      }
      p {
        font-weight: $font-weight-semibold;
        font-size: 1.1em;
        color: $color-black;
      }
      a {
        text-decoration: none;
        color: #003688;
        font-weight: 600;
        font-size: 0.8em;
      }
    }
  }
}

