#locations {
    .mod_b {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://images.pexels.com/photos/6384/woman-hand-desk-office.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      height: 100%;
      .mod_b_txt {
        padding: 60px 0;
        color: #fff;
      }
      &:hover {
      }
    }
  }
  