#news {
  background: $color-grey;
  .main-btn {
    color: $color-black;
    &:hover {
      color: #fff;
    }
  }
  .news_holder {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://images.pexels.com/photos/1390850/pexels-photo-1390850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
        no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 60px;
    .n-title {
      font-weight: $font-weight-light;
      letter-spacing: 0.1em;
      font-style: italic;
    }
    .n-head {
      .link {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.6em;
      }
    }
    .n-sub {
      font-weight: $font-weight-light;
      font-size: 0.9em;
    }
  }
  .event-holder {
    background: #fff;
    padding: 30px;
    .e-title {
      font-weight: $font-weight-light;
      letter-spacing: 0.1em;
      font-style: italic;
      font-size: 0.7em;
    }
    .e-date {
      font-weight: $font-weight-bold;
    }
    .e-name {
      padding-top: 15px;
      font-size: 0.9em;
      font-weight: $font-weight-semibold;
    }
    .e-description {
      padding-top: 15px;
      font-size: 0.9em;
    }
    .e-place {
      font-size: 0.8em;
    }
    .det-btn {
      border-color: $color-blue-light;
      background: $color-blue-light;
      width: 90%;
      margin-bottom: 10px;
      color: #fff;
      padding: 10px 10px;
      font-weight: $font-weight-semibold;
      &:hover {
        border-color: $color-blue;
        background: $color-blue;
      }
    }
    .reg-btn {
      color: $color-black;
      width: 90%;
      padding: 10px 10px;
      font-weight: $font-weight-semibold;
      &:hover {
        border-color: $color-black;
        background: $color-black;
        color: #fff;
      }
    }
  }
}
