#section-07
{
    .head
    {
        padding-bottom: 30px;
    }
    .s-head
    {
        font-size: 0.9em;
    }
    .p-sub
    {
        padding-top: 15px;
    }
    .link
    {
        font-weight: bolder;
    }
    .main-btn
    {
        background: $color-blue;
        color: #fff;
        transition: 0.5s ease;
        border-color: $color-blue;
        font-size: 0.7em;
        padding: 20px 30px;
        &:hover
        {
            border-color: #333333;
            background: #fff;
            color: #333333;
        }
    }
}