#section-03 {
  .m-head {
    padding-bottom: 50px;
  }
  .img-holder {
    img
    {
      transition: 1s ease;
    }
    overflow: hidden;
    background-image: linear-gradient(
      0deg,
      rgba(0, 38, 255, 0.3),
      rgba(0, 38, 255, 0.3)
    );
    height: 100%;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      transition: 0.5s ease;
      background-image: linear-gradient(
        0deg,
        rgba(25, 25, 27, 0.733),
        rgba(31, 30, 30, 0.719)
      );
    }
    .content {
      position: absolute;
      width: 200px;
      margin-left: -100px;
      left: 50%;
      bottom: 10%;
      color: #fff;
      opacity: 1;
      transition: 1s ease;
      h6 {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        font-size: 1em;
      }
    }
    .content_e
    {
      opacity: 0;
      position: absolute;
      width: 300px;
      margin-left: -150px;
      left: 50%;
      bottom: 50%;
      color: #fff;
      transition: 1s ease;
      p
      {
        font-style: italic;
        font-weight: lighter;
        font-size: 1em;
        letter-spacing: 0.05em;
      }
      h6
      {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        letter-spacing: 0.1em;
        font-size: 0.8em;
      }
    }
    &:hover {
      img
      {
        transform: scale(1.2);
        transition: 1s ease;
      }
      .overlay {
        opacity: 1;
        transition: 1s ease;
      }
      .content_e
      {
        opacity: 1;
      }
      .content
      {
        opacity: 0;
        transition: 1s ease;
      }
    }
  }
}
