#section-02 {
  .deg-holder {
    padding-bottom: 30px;
    .cl {
      display: block;
      width: 60px;
      height: 4px;
      margin-bottom: 12px;
      background: red;
    }
    .s-head {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: $color-black;
        font-size: 0.7em;
      }
    }
  }
}
