#section-04 {
	background: $color-grey;
	.main-btn {
		color: $color-black;
		&:hover {
			color: #fff;
		}
	}
	.item {
		position: relative;
		.img-holder {
			background: #000;
			img {
				opacity: 0.5;
      }
		}
		.news_holder {
			position: absolute;
			top: 0;
			left: 0;
			padding: 60px;
			.n-title {
				font-weight: $font-weight-light;
				letter-spacing: 0.1em;
				font-style: italic;
			}
			.n-head {
				.link {
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.6em;
				}
			}
			.n-sub {
				font-weight: $font-weight-light;
				font-size: 0.9em;
      }
      @media screen and (max-width: $screen-xs-max) {
        top: 20%;
        padding: 0px 60px;
        .n-title {
          font-size: 0.6em;
        }
        .n-head {
          line-height: 0.4em;
          .link {
            font-size: 0.4em;
            
          }
        }
        .n-sub
        {
          display: none;
        }
        .n-date
        {
          font-size: 0.4em;
        }
      }
		}
	}
	.event-holder {
		background: #fff;
		padding: 30px;
		.e-title {
			font-weight: $font-weight-light;
			letter-spacing: 0.1em;
			font-style: italic;
			font-size: 0.7em;
		}
		.e-date {
			font-weight: $font-weight-bold;
		}
		.e-name {
			padding-top: 15px;
			font-size: 0.9em;
			font-weight: $font-weight-semibold;
		}
		.e-description {
			padding-top: 15px;
			font-size: 0.9em;
		}
		.e-place {
			font-size: 0.8em;
		}
		.det-btn {
			border-color: $color-blue-light;
			background: $color-blue-light;
			width: 90%;
			margin-bottom: 10px;
			color: #fff;
			padding: 10px 10px;
			font-weight: $font-weight-semibold;
			&:hover {
				border-color: $color-blue;
				background: $color-blue;
			}
		}
		.reg-btn {
			color: $color-black;
			width: 90%;
			padding: 10px 10px;
			font-weight: $font-weight-semibold;
			&:hover {
				border-color: $color-black;
				background: $color-black;
				color: #fff;
			}
		}
	}
}
